@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body, button {
    font-family: 'Inter';
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

body {
    background-color: #121826;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0.7rem 0px;
}

label[for=name], label[for=email] {
    margin: 1rem 0px;
}

::placeholder {
    color: #A1A1A9;
}

.register {
    width: 90%; 
    max-width: 28rem; 
    height: 25rem;
    border-width: 1px;
    border-radius: 25px;
    border-style: solid;
    border-color: #A1A1A9;
    background-color: #212936;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-container {
    display: none;
}
.active-step {
    display: flex;
}

.continue {
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 1rem;
    background: linear-gradient(180deg, rgba(132,94,238,1) 0%, rgba(100,37,170,1) 100%);
    border-style: none;
    align-items: center;
    padding: 0.8rem 1.7rem;
    border-radius: 30px;
}

.button-container {
    margin: 10px;
    background-color: #4D5562;
    border-radius: 15px;
    border: 1px solid #A1A1A9;
    color: #A1A1A9;
    overflow: hidden;
    float: left;
}

.button-container label {
    float: left; 
    line-height: 3.0em;
    width: 22.4em; 
    height: 3.0em;
}

.button-container span {
    text-align: left;
    padding-left: 1rem;
    display: block;
}

.button-container input {
    position: absolute;
    display: none;
}

.button-container input:checked + span {
    background-color: #845EEE;
    color: #E5E7EB;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #212936;
}

.circle-active {
    background-color: #652CD1;
}

#step1, #step2, #step3 {
    flex-direction: column;
    width: 85%; 
    max-width: 23rem;
    height: 22rem;
}

#name, #email {
    padding-left: 1.2rem;
    border-width: 1px;
    border-color: #A1A1A9;
    border-style: solid;
    border-radius: 10px;
    background-color:#212936;
    height: 2.25rem;
    color: #A1A1A9;
}

#name:not(:placeholder-shown), #email:not(:placeholder-shown) {
    border-color: #652CD1;
}

#progress-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 9rem;
    height: 1rem;
    background-color: #121826;
    margin: 2rem;
}
